#github creds
export GITHUB_TOKEN=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
export GITHUB_USER=luca-iachini
export GITHUB_IDENTITY=$HOME/.ssh/id_ed25519

#docker registry
export DOCKER_REG_HOST=registry.localhost
export DOCKER_REG_PORT=5000
export DOCKER_REG_URL=$DOCKER_REG_HOST:$DOCKER_REG_PORT
export DOCKER_REG_USER=dockeruser
export DOCKER_REG_PASSWORD=dockerpassword